body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: 
    linear-gradient(45deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 49%, rgba(0,34,17,0.5) 50%, rgba(0,34,17,0.5) 100%),
    linear-gradient(135deg, rgba(17,0,34,0.5) 0%, rgba(17,0,34,0.5) 49%, rgba(17,34,0,0.5) 50%, rgba(17,34,0,0.5) 100%);
  background-size: 0.5em 0.5em;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 10vw;
  font-family: sans-serif;
  color: white;
  user-select: none;
}

tube-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

test-tube {
  display: block;
  transition: transform 0.4s, box-shadow 0.4s;
  width: 1em;
  height: 4em;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  margin: 0.25em 0.25em;
  overflow: hidden;
  border-radius: 0.0625em 0.0625em 0.5em 0.5em;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
}

test-tube:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  box-shadow: 0 -0.0625em 0.0625em 0 inset rgba(255,255,255,0.5),
              0  0.0625em 0.0625em 0 inset rgba(  0,  0,  0,0.5);
}

test-tube[pouring] {
  z-index: 1;
}

test-tube:after {
  content: '';
  position: absolute;
  border-top: 2px;
  border-radius: 0 0 0.5em 0.5em;
  background: linear-gradient(90deg, rgba(2,0,36,0.25) 0%, rgba(9,9,121,0.1) 25%, rgba(2,171,228,0.1) 80%, rgba(255,255,255,0.4) 82%, rgba(2,180,234,0.1) 84%, rgba(0,212,255,0.1) 94%, rgba(0,52,62,0.25) 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 -0.5em 0.5em -0.5em inset rgb(0 0 0 / 50%);
}

test-tube[selected] {
  transform: translate(0, -0.5em);
  box-shadow: 0 0 0.5em -0.25em white;
}

test-tube>.level {
  width: 1em;
  height: 1em;
  background: transparent;
  transition: transform 0.4s, height 0.4s;
}

test-tube[pouring]>.level {
  transform: translate(0, 50%) skewY(-60deg) scale(1, 1.5);
}

test-tube[pouring-left]>.level {
  transform: translate(0, 50%) skewY(60deg) scale(1, 1.5);
}

sort-hud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  color: white;
  display: flex;
  flex-direction: row;
  z-index: 9001;
  justify-content: flex-end;
}

sort-level {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.confetti-wrap {
  position: fixed;
}
.confetti-flake {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: 1px solid currentColor;
  border-radius: 0.125em;
  animation-name: pop;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  box-shadow: 0 0 0.25em white;
  z-index: 0;
}
@keyframes pop {
  0% {
    background-color: transparent;
    width: 2px;
    height: 2px;
    margin-left: -1px;
    margin-top: -1px;
    opacity: 0;
  }
  1% {
    background-color: currentColor;
    opacity: 1;
  }
  25% {
    background-color: currentColor;
    width: 0.125em;
    height: 0.125em;
    margin-left: -0.0625em;
    margin-top: -0.0625em;
    opacity: 1;
  }
  75% {
    margin-left: -0.0625em;
    margin-top: -1.0625em;
    background-color: transparent;
  }
  100% {
    background-color: transparent;
    width: 0.25em;
    height: 0.25em;
    margin-left: -0.125em;
    margin-top: -1.125em;
    opacity: 0;
  }
}
.confetti-flake.pop {
  width: 0;
  height: 0;
  background-color: currentColor;
  border-radius: 0;
}