body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: 
    linear-gradient(45deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 49%, rgba(0,34,17,0.5) 50%, rgba(0,34,17,0.5) 100%),
    linear-gradient(135deg, rgba(17,0,34,0.5) 0%, rgba(17,0,34,0.5) 49%, rgba(17,34,0,0.5) 50%, rgba(17,34,0,0.5) 100%);
  background-size: 0.5em 0.5em;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 10vw;
  font-family: sans-serif;
  color: white;
  user-select: none;
}

body.high-detail test-tube {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);  
}

body.high-detail test-tube:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25em;
  box-shadow: 0 -0.0625em 0.0625em 0 inset rgba(255,255,255,0.5),
              0  0.0625em 0.0625em 0 inset rgba(  0,  0,  0,0.5);
}

body.high-detail test-tube:after {
  content: '';
  position: absolute;
  border-top: 2px;
  border-radius: 0 0 0.5em 0.5em;
  background: linear-gradient(90deg, rgba(2,0,36,0.25) 0%, rgba(9,9,121,0.1) 25%, rgba(2,171,228,0.1) 80%, rgba(255,255,255,0.4) 82%, rgba(2,180,234,0.1) 84%, rgba(0,212,255,0.1) 94%, rgba(0,52,62,0.25) 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 -0.5em 0.5em -0.5em inset rgb(0 0 0 / 50%);
}

tube-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

test-tube {
  display: block;
  transition: transform 0.4s, box-shadow 0.4s;
  width: 1em;
  height: 4em;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  margin: 0.25em 0.25em;
  overflow: hidden;
  border-radius: 0.0625em 0.0625em 0.5em 0.5em;
  position: relative;  
}

test-tube[pouring] {
  z-index: 1;
}

test-tube[selected] {
  transform: translate(0, -0.5em);
  box-shadow: 0 0 0.5em -0.25em white;
}
test-tube[bumping] {
  transform: translate(0, -0.5em);
}
test-tube[glowing] {
  box-shadow: 0 0 0.5em 0em white;
}

test-tube>.level {
  width: 1em;
  height: 1em;
  background: transparent;
  transition: transform 0.4s, height 0.4s;
}

test-tube[pouring]>.level {
  transform: translate(0, 0.45em) skewY(-60deg);
}

test-tube[pouring-left]>.level {
  transform: translate(0, 0.45em) skewY(60deg);
}

sort-hud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  color: white;
  display: flex;
  flex-direction: row;
  z-index: 9001;
  justify-content: space-between;
  font-size: 8vh;
}
hud-buttons {
  display: flex;
  flex-direction: row;
}
hud-buttons>* {
  margin-left: 6vw;
}

input[name="sort-level"] {
  display: block;
  font: inherit;
  color: inherit;
  width: 2em;
  background: transparent;
  border: none;
  flex: 0 1 auto;
}
input[name="sort-level"]:focus {
  outline: none;
}
.confetti-wrap {
  position: fixed;
}
body.high-detail .confetti-flake {
  box-shadow: 0 0 0.25em white;
}

.confetti-flake {
  display: block;
  position: relative;
  box-sizing: border-box;
  border: 1px solid currentColor;
  border-radius: 0.125em;
  animation-name: pop;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  z-index: 0;
}
@keyframes pop {
  0% {
    background-color: transparent;
    width: 2px;
    height: 2px;
    margin-left: -1px;
    margin-top: -1px;
    opacity: 0;
  }
  1% {
    background-color: currentColor;
    opacity: 1;
  }
  25% {
    background-color: currentColor;
    width: 0.125em;
    height: 0.125em;
    margin-left: -0.0625em;
    margin-top: -0.0625em;
    opacity: 1;
  }
  75% {
    margin-left: -0.0625em;
    margin-top: -1.0625em;
    background-color: transparent;
  }
  100% {
    background-color: transparent;
    width: 0.25em;
    height: 0.25em;
    margin-left: -0.125em;
    margin-top: -1.125em;
    opacity: 0;
  }
}
.confetti-flake.pop {
  width: 0;
  height: 0;
  background-color: currentColor;
  border-radius: 0;
}

.undo-button {
  transition: color 0.4s, box-shadow 0.4s;
}
.undo-button.no-moves {
  color: red;
  animation: glow 0.5s infinite;
}
.undo-button.holding {
  color: cyan;
  animation: glow 0.25s none;
}

@keyframes glow {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: white;
  }
}

.beat-level {
  position: fixed;
  /* display: flex; */
  text-align: center;
  width: 100vw;
  text-shadow: 0 0 0.5em black;
  background: rgba(0, 0, 0, 0.5);
}
.credits {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  perspective: 100vw;
  text-align: center;
}

.credits--restart {
  z-index: 10000;
  background: linear-gradient(0deg, transparent, black);
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
  animation: linear fadein 15s;
}

.credits--restart a {
  color: white;
  text-decoration: none;
  font-size: 9vw;
  display: block;
}

.credits--crawl {
  font-size: 7vw;
  transform: rotateX(45deg) translateY(100vh) translateZ(50vw);
  transform-origin: 50% 100%;
  position: absolute;
  top: 39vh;
  left: 0;
  animation: linear crawl 180s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes crawl {
  0% {
    transform: rotateX(45deg) translateY(100vh) translateZ(50vw);
    opacity: 1;
  }
  100% {
    transform: rotateX(45deg) translateY(-3000vh) translateZ(50vw);
    opacity: 0;
  }
}

footer {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
footer a {
  text-decoration: none;
  color: white;
  display: block;
  width: 10vw;
  max-height: 10vh;
}
footer svg {
  height: 100%;
  display: block;
}
